<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Insert Title Here</title>
    <link rel="stylesheet" href="http://bit.ly/3WJ5ilK"/>
</head>
<body>
    <!-- m9.html -->
    <!--
        조각페이지 조작 기능에 한해서
        JSP(include) ~ 타임리프 ~ Tiles(Spring)

        조각 페이지
        templates/inc: sub1.html, sub2.html
    -->
    <h1>Thymeleaf fragment</h1>
    <div>
        <div th:insert="~{inc/sub1.html}"></div>
    </div>
    <div th:replace="~{inc/sub1.html}">권장</div>
    <div th:replace="~{inc/sub1}"></div>
    <div th:replace="inc/sub1"></div>
    <hr>
    <div th:insert="~{inc/sub2.html}"></div>
    <!--/*
    <hr>
    <div th:insert="~{inc/sub2.html :: tel}"></div>
    <hr>
    <div th:replace="~{inc/sub2.html :: title}"></div>
    */-->
    <hr>
    <div th:replace="~{inc/sub2.html :: title('게시판', '목록보기')}"></div>
    <div th:replace="~{inc/sub2.html :: title('회원', '가입하기')}"></div>
</body>
</html>
